/*
1. General
 */

html {
    font-size: 100%;
}

section {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
}

section section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

body {
    position: relative;
}

h1,
header h1,
h2,
h3,
h4 {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h2,
h3 {
    padding-bottom: 1.5rem;
}

.container {
    max-width: var(--breakpoint-lg) !important;
}

p {
    text-align: justify;
}

.btn-cstm {
    text-align: center;
    border: 0px solid var(--shade-6) !important;
    white-space: normal !important;
}

.btn-group-vertical>button {
    margin-bottom: 1rem!important;
    border-radius: 1rem !important;
}


/*
2. color scheme
*/

:root {
    --light-blue-link: #007bff;
    --dark-blue-link: #2424b1;
    --bg-dark: #666666;
    --bg-dark-2: #2e3f2e;
    --bg-light: #EEF1ED;
    --shade-0: #EEF1ED;
    --shade-1: #E2E4C8;
    --shade-2: #D2D6A9;
    --shade-3: #879B5F;
    --shade-4: #698769;
    --shade-5: #162716;
    --shade-6: black;
    --shade-7: #474747;
}

body.light-theme {
    --text-color: var(--shade-6);
    --text-color-contrast: var(--shade-0);
    --bkg-color-1: var(--shade-0);
    --bkg-color-2: var(--shade-2);
    --header-color: var(--shade-4);
    --navbar-color: var(--shade-5);
    --icon-color: var(--shade-5);
    /* btn color */
    --btn-color: var(--shade-0);
    --btn-bkg-color: var(--shade-4);
    --btn-2-color: var(--shade-5);
    --btn-2-bkg-color: var(--shade-1);
    --link-color: var(--light-blue-link);
}

body.dark-theme {
    --text-color: var(--shade-0);
    --text-color-contrast: var(--shade-6);
    --bkg-color-1: var(--bg-dark);
    --bkg-color-2: var(--bg-dark-2);
    --header-color: var(--shade-4);
    --navbar-color: var(--shade-5);
    --btn-color: var(--shade-0);
    --btn-bkg-color: var(--shade-4);
    --btn-2-color: var(--shade-5);
    --btn-2-bkg-color: var(--shade-1);
    --link-color: var(--dark-blue-link);
}

main a {
    color: var(--link-color);
}

.unityblock {
    color: var(--text-color);
}

.unityblock:nth-of-type(2n) {
    background-color: var(--bkg-color-2);
}

.unityblock:nth-of-type(2n+1) {
    background-color: var(--bkg-color-1);
}

header .navbar,
footer {
    background-color: var(--navbar-color);
}

header {
    background-color: var(--header-color);
}

footer a,
header .navbar-dark .navbar-nav .nav-link,
header .navbar-nav a {
    color: var(--text-color);
}

header a:hover,
header .navbar-dark .navbar-nav .nav-link.hover,
footer a:hover {
    opacity: 0.7;
    color: var(--text-color);
    /* color: var(--shade-1); */
    /* background-color: transparent; */
}

header .navbar-dark .navbar-nav .nav-link.active {
    color: var(--text-color);
    opacity: 0.7;
    /* background-color: transparent; */
}

header h1 {
    color: var(--text-color);
}

.card-body {
    /* background: var(--shade-0) !important; */
    background: inherit !important;
    /* color: var(--shade-7); */
}

.modal-body {
    background: var(--bkg-color-1);
}

.modal-footer,
.modal-header {
    background: var(--header-color);
    /* color: var(--shade-0); */
}

textarea,
input {
    background: var(--bkg-color-1);
    color: var(--text-color);
    border: none;
}


/* buttons */

.btn-Abstract {
    background: transparent !important;
    color: var(--btn-2-color)!important;
}

.btn-Abstract:hover {
    /* background: var(--shade-0) !important; */
    background: inherit !important;
    color: var(--btn-2-color)!important;
    opacity: 0.7;
}

.btn-cstm {
    background: var(--btn-bkg-color) !important;
    color: var(--btn-color)!important;
}

.btn-cstm:hover {
    background: inherit !important;
    color: var(--btn-color)!important;
    opacity: 0.7;
}

.btn-modal {
    background: var(--btn-2-bkg-color) !important;
    color: var(--btn-2-color)!important;
}


/*
3. Header & footer
 */

footer,
header .navbar {
    /* opacity: 0.75; */
}

header a img {
    height: 2rem;
    width: auto;
}

header .navbar-nav li {
    text-transform: uppercase;
    font-size: 1.1rem;
}

header #intro {
    padding-top: 5rem;
    padding-bottom: 0.1rem;
}

footer {
    display: flex !important;
    justify-content: space-around !important;
    font-size: 2rem;
}


/*
4. Contents
 */


/*
4.1. Bio
*/

#about img {
    width: 200px;
    height: auto;
}

.figure-img {
    margin-top: 1rem;
}


/*
4.2. Research
*/

#Keywords,
#Preview {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}

#Keywords,
#Preview {
    padding: 0% 2%;
}

#research>.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-basis: max-content;
    align-items: center;
}

@media (max-width:767.98px) {
    #research>.container {
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: max-content;
    }
}

#hpadapt img {
    width: 70%;
    max-width: 400px;
    /* height: auto; */
}


/*
4.3. Publication
 */

#bibtex_display {
    height: 90vh;
    overflow: auto;
    padding: 0 2rem;
}

.entry-list {
    counter-reset: list;
}

.entry-list .bibtexentry::before {
    counter-increment: list;
    content: "[" counter(list) "]";
    display: block;
    position: absolute;
    left: -1.5rem;
}

.bibtexentry {
    padding-bottom: 1rem;
    position: relative;
}

.card-body {
    width: 80%;
}

@media all and (max-width:767.98px) {
    .card-body {
        width: 100%;
    }
}

.collapse-chevron .bi {
    transition: .5s transform ease-in-out;
}

.collapse-chevron .collapsed .bi {
    -webkit-transform: rotate(-0.5turn);
    /* -webkit-transform-origin: -0.5em -0.5em; */
    transform: rotate(-0.5turn);
    /* transform-origin: center; */
}

.btn-Abstract {
    display: inline-block;
    position: absolute;
    left: -1rem;
    top: 1rem;
    font-size: 1.5rem;
}


/*
4.4. Contact
*/

address {
    width: 100%!important;
    max-width: var(--breakpoint-md);
}

#contact {
    padding-bottom: 40vh;
}

#mapid {
    width: 100%;
    height: 250px;
    /* height: auto; */
    max-width: var(--breakpoint-sm);
    z-index: 0;
    margin-top: 1rem;
}

#contact-form,
#contact-form input,
#contact-form button,
#contact-form textarea {
    width: 100%;
    max-width: var(--breakpoint-sm);
}

#contact-form textarea,
#contact-form input {
    margin: 0.1rem 0;
    border: none;
}

#contact-form .pull-tab {
    color: var(--text-color);
}